# PyCache
**/__pycache__/*

# Omnisafe runs
**/runs/*

# Wandb logs
**/wandb/*

# CityLearn renders
**/render/*

# Images
**/imgs/*

# KPI logs
**/kpi_logs/*

# VSCode settings
**/.vscode/*

# Build files
**/build/*

# Distribution files
**/*.egg-info/*

# Linear regression result plots
**/linear_regressor_results/*

# LIME result plots
**/lime_results/*